includes:
  - phpstan-baseline.neon

parameters:
  level: 8
  checkMissingIterableValueType: false
  checkAlwaysTrueCheckTypeFunctionCall: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false
  scanDirectories:
    - src
  paths:
    - src
    - tests
