<phpunit>
    <php>
        <env name="MONGODB_URI" value="mongodb://127.0.0.1:27017/?serverSelectionTimeoutMS=100"/>
        <env name="MONGODB_DATABASE" value="xenus_test"/>
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>./tests/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
